.ugly, .pending {
	background-color: #844d9e;
	border-color: #844d9e;
	color: white;
}
.decent, .good {
	background-color: #56b949;
	border-color: #56b949;
	color: white;
}
.best {
	background-color: #f3a530;
	border-color: #f3a530;
	color: white;
}
.bad {
	background-color: #ee4035;
	border-color: #ee4035;
	color: white;
}
.music {
	background-color: #30499b;
	border-color: #30499b;
	color: white;
}
.held {
	background-color: #f9ed3a; /* #20daa5 minus #daa520 */
	border-color: #f9ed3a; /* #20daa5 minus #daa520 */
	color: white;
}
.trash {
	background-color: black;
}
