.content {
	align-items: center;
	/* disable this for centred, but actual size videos
	   enable for full-screen but not-vcentred videos:  */
	/*display: flex;*/
	font-family:monospace;
	font-size: 16px;
	height: 100%;
	justify-content: center;
	margin: auto;
	overflow: hidden;
	padding: 0;
	position: absolute;
	text-align: center;
	width: 100%;
}

body {
	background-color: #222;
	margin: 0;
}
video {
	max-height: 100%;
	max-width: 100%;
	min-width: 100%;
	z-index: -1; /* chrome hack */
}
ul {
	list-style-type: none;
	margin: 2px;
	padding: 0;
}
li {
	background-color: #777;
	border-radius: 4px;
	border: 1px solid #333;
	color: #222;
	display: block;
	font-size: 70%;
	list-style-type: none;
	margin:2px auto;
	padding: 3px;
}
li a {
	display: block;
	color: inherit;
	text-decoration: inherit;
}
.top-left {
	left: 1em;
	position: fixed;
	top: 1em;
}
.top-right {
	right: 1em;
	position: fixed;
	top: 1em;
}
.best form {
	bottom: 1em;
	left: 1em;
	top: auto;
}
li.stats {
	background-color: magenta;
	min-width: 10em;
	overflow-x:hidden;
	overflow-y: hidden;
	padding: 0;
	margin-bottom: 0.5em;
	text-align:left;
	white-space: nowrap;
}
.stat {
	display: inline-block;
	margin:0;
	padding:0;
	text-decoration: none;
}
.debug, .github, .history {
	background-color: #777;
	border-radius: 0.5em;
	color: #777; /* TODO */
	font-size: 0.5em;
	height: 1em;
	overflow: hidden;
	padding: 0.5em;
	position: fixed;
	right: 0.5em;
	text-align: left;
	top: 0;
	width: 1em;
	z-index: 20;
	display: none;
}
.github {
	background-color: #999;
	top: 3.5em;
	z-index: 15;
}
.debug {
	background-color: #bbb;
	color: #bbb;
	top: 5em;
	z-index: 10;
}
.debug:hover, .history:hover {
	color: #333;
	height: auto;
	width: auto;
}

.grey-box {
	background-color: #777;
	border-radius: 0.5em;
	border: 1px solid black;
	overflow: hidden;
	padding: 0.3em;
	margin: 0.3em;
	font-size: 0.7em;
	text-align: left;
	z-index: 100;
	width: 100%;
	float:left;
	clear:both;
}

.bottom-right {
	bottom: 1em;
	position: fixed;
	right: 2em;
	z-index: 10;
}

.bottom-left {
	bottom: 1em;
	position: fixed;
	left: 1em;
	z-index: 10;
}

input {
	margin: 5px;
}
.clear {
	clear:both;
}
.privlink {
	float:right;
	clear: right;
}
.fs-toggle {
	padding: 0;
	margin: 0;
}
.fs-toggle input {
	padding: 0;
	margin: 0;
}
.actualsize { display: flex; min-width: inherit;}

progress {
	max-width: 100%;
	height: 1em;
	float: right;
	border: 0;
}
progress:indeterminate {
	display: none;
}

.moderation input {
	border-style: outset;
}
input:disabled {
	/* this probably looks terrible */
	/* display: none; */
	border-style: inset;
	color: gray;
}

.bottom-left .grey-box a {
	text-align: center;
	display: block;
}
@media (max-width: 600px) {
	.hide-small { display: none; }
}
