.queue {
	margin: 2em auto;

}
.counter { text-align: center;
	font-size: 1em;
	font-family: monospace;
	white-space: nowrap;
	float: right;
	display: block;
	margin: 1em;
}

.queue {
	margin: 1em;
	display: inline-block;
}
.counter .sep {
	display: block;
}
.counter span {
	font-size: 2em;
}

body { color: #bbb; font-family: monospace; font-size: 1em; max-width: 979px; margin: auto;}
li { color: inherit; background: inherit; font: inherit; border: inherit; list-style-type: square; }

.delta.negative { color: #00bfff; }
.delta.zero { color: #ff00bf; }
.delta { color: #bfff00; font-size: 2em; }
