<form id="moderation" action="/moderate" method="POST">
{% if token %}
	<input type="hidden" name="token" value="{{ token }}">
	<input type="hidden" name="webm" value="{{ webm }}">

	{% if queue == 'pending' %}
		{% if unpromotable and unpromotable != 'you held this last time'%}
		<input class="good left" type="submit" title="[cannot feature: {{ unpromotable }}]" name="verdict" value="good" disabled>
		<input class="ugly" type="submit" title="I'm not sure where this video should be (skip)" name="verdict" value="unsure">
		<input class="bad right" type="submit" title="[cannot demote: {{ unpromotable }}]" name="verdict" value="bad" disabled>
		{% else %}
		<input class="good left" type="submit" title="I like this video (wheat)" name="verdict" value="good">
		<input class="ugly" type="submit" title="I'm not sure where this video should be (skip)" name="verdict" value="unsure">
		<input class="bad right" type="submit" title="I don't like this video (chaff)" name="verdict" value="bad">
		{% endif %}
	{% elif queue == 'music' %}
		<input class="good" type="submit" title="Move back to 'good' (unshunt)" name="verdict" value="unshunt">
	{% elif queue == 'good' %}
		<div>
		{% if unpromotable  %}
			<input class="best left" type="submit" title="[cannot feature: {{ unpromotable }}]" name="verdict" value="feature" disabled>
			<input class="good" type="submit" title="[cannot veto: {{ unpromotable }}]" name="verdict" value="nsfw" disabled>
			{% if unpromotable == 'you held this last time' or unpromotable == 'this video has been vetoed' or unpromotable == 'cannot feature own videos' %}
				<input class="music" id="js-shunt" type="submit" title="Mark as good music (shunt)" name="verdict" value="shunt">
			{% else %}
				<input class="music" id="js-shunt" type="submit" title="[cannot shunt: {{ unpromotable }}]" name="verdict" value="shunt" disabled>
			{% endif %}
			<!-- <input class="good right" type="submit" title="[cannot veto: {{ unpromotable }}]" name="verdict" value="veto" disabled> -->
		{% else %}
			<input class="best left" type="submit" title="This is the best video ever (and I promise it's work-safe)" name="verdict" value="feature">
			<input class="good" type="submit" title="Prevent this video from entering 'best' (veto)" name="verdict" value="nsfw">
			<input class="music" type="submit" id="js-shunt" title="Mark as good music (shunt!)" name="verdict" value="shunt">
			<!-- <input class="good right" type="submit" title="Prevent this video from entering 'best' (veto)" name="verdict" value="veto"> -->
		{% endif %}
		</div>
			{% if unpromotable == 'cannot feature own videos' or unpromotable == 'you held this last time' or unpromotable == 'you must sign in to do this' %}
			<input class="held" type="submit" title="[cannot hold: {{ unpromotable }}]" name="verdict" value="hold" disabled>
			{% elif unpromotable == 'you demoted this before!'  %}
				<input class="held" type="submit" title="[cannot hold: you tried to demote this video]" name="verdict" value="hold" disabled>
			{% else %}
				<input class="held" type="submit" title="This is the right place for this video (enact hold)" name="verdict" value="hold">
			{% endif %}
			<input class="good" type="submit" title="I'm not sure where this video should be (skip)" name="verdict" value="unsure">
		{% if unpromotable == 'you demoted this before!' or unpromotable == 'already featured' %}
			<input class="ugly" type="submit" title="[cannot demote: {{ unpromotable }}]" name="verdict" value="demote" disabled>
		{% else %}
			<input class="ugly" type="submit" title="This video isn't good (return to staging)" name="verdict" value="demote">
		{% endif %}
	{% elif queue == 'bad' %}
		<input class="ugly" type="submit" title="Send this video back to to be judged" name="verdict" value="forgive">
		<input class="bad" type="submit" onsubmit="return confirm('Are you sure you want to report and delete this video?');" title="Nobody should ever see this video ever again (blight)" name="verdict" value="report">
	{% elif queue == 'best' %}
		{% if unpromotable %}
		<!--
		<input class="best" type="submit" title="[cannot affirm: {{unpromotable}}]" name="verdict" value="affirm" disabled>
		<input class="best" type="submit" title="[cannot censure: {{unpromotable}}]" name="verdict" value="censure" disabled>
		-->
		{% else %}
		<input class="best" type="submit" title="This is a good video (upvote)" name="verdict" value="affirm">
		<input class="best" type="submit" title="This video doesn't deserve to be here (downvote)" name="verdict" value="censure">
		{% endif %}
	{% endif %}
{% endif %}
</form>
