<!DOCTYPE html>
<html> <head>
		<title>webm website</title>
		<meta name="robots" content="noindex, nofollow">
		<style>

			body {
				background-color: #ccc;
				/* disable this for centred, but actual size videos
                   enable for full-screen but not-vcentred videos:  */
				font-family:monospace;
				height: 100%;
				padding: 0;
				position: absolute;
				width: 80%;
			}

			
		</style>
	</head>
	<body>
		<h1>webm.website</h1>
		<h2>Workflow</h2>
		<pre>
                                   (personal whitelist)
     best.webm.website ({{ stats.best }}) +--> top.webm.website
           ^
           | +-------> music.webm.website ({{ stats.music }})
   feature | |shunt
           | |     +-+----> held.webm.website ({{ stats.held }})
           + |     v |hold       
   decent.webm.website ({{ stats.good }})
           ^        +
      good |        | demote
           |        |
           +        v
       webm.website ({{ stats.pending }}) <=====+ START
           ^        +
   forgive |        | bad
           |        |
           +        v
	  bad.webm.website ({{ stats.bad }})
                    +
                    | report
                    |
                    v
  [removed from public view] ({{ stats.trash }})
		</pre>


		<h2>Privacy policy</h2>
		<ul>
			<li>Your IP address is <em>publicly logged</em>.</li>
			<li>This includes <em>every action</em>, including views as well as voting.</li>
			<li>You can view the log for any given webm by hovering over the square in the top right-hand corner of the screen.</li>
			<li>You can mask your IP by filling in the "who are you?" form.</li>
			<li>The form will change <em>subsequent</em> log entries, but won't change anything that's already stored.</li>
			<li>We will usually mask the IP address with some form of real-world identifer, such as name or nickname.</li>
			<li>If you don't want this to happen, or want your identifier removed, contact the sysadmin at info@ this website, or via another method.</li>
			<li>In addition, we use Google Analytics.</li>
			<li>In the event of an error in the website, your details will be sent to a third-party aggregator which we use to keep track of problems.</li>
		</ul>

		<h2>Abuse policy</h2>
		<ul>
			<li>Webms are pulled from another (technically work-safe) social media website without vetting.</li>
			<li>If you see something terrible, hit "report" where possible, which will instantly render the webm inaccessible.</li>
			<li>This can usually be done by clicking "bad" then "report" &ndash; you may want to open the link in a new tab before hitting "bad".</li>
			<li>Report flagrant abuse, or copyright queries, to abuse@fluv.net.</li>
		</ul>

		<h2>Development</h2>
		<ul>
			<li>Patches and issues welcome: https://github.com/zuzak/yakc</li>
			<li>API available at http://api.webm.website/stats.json</li>
		</ul>
		<pre>

		Copyright (c) 2016, Douglas Gardner douglas@chippy.ch

		Permission to use, copy, modify, and/or distribute this software for any
		purpose with or without fee is hereby granted, provided that the above
		copyright notice and this permission notice appear in all copies.

		THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES WITH
		REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF MERCHANTABILITY AND
		FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR ANY SPECIAL, DIRECT,
		INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES WHATSOEVER RESULTING FROM
		LOSS OF USE, DATA OR PROFITS, WHETHER IN AN ACTION OF CONTRACT, NEGLIGENCE OR
		OTHER TORTIOUS ACTION, ARISING OUT OF OR IN CONNECTION WITH THE USE OR
		PERFORMANCE OF THIS SOFTWARE.

		A product of the Zuzakistan Common Agricultural Policy

		</pre>
{% if debug %}
<pre class="debug">{{debug}}</pre>
{% endif %}
		<script>
<!-- rip your privacies -->
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-20878451-6', 'auto');
    ga('send', 'pageview');

		</script>
	</body>
</html>
