{% extends 'skeleton.html' %}
{% block body %}
	<div class="content {{ queue }} actualsize" id="js-body">
		{% if not direct %}
		<div class="top-right hide-small">
			<progress id="js-progress" min="0"></progress>
		</div>
		{% endif %}
		<div class="bottom-right">
			<div class="grey-box hideable">
				<a class="privlink hide-small" href="{{ url_for('about') }}">Privacy & About</a>
				<a class="privlink hide-small" href="//github.com/zuzak/yakc/issues/new">Report problem</a>
				{% include'news.html' %}
				{% if stats %} <span class="hide-small">{{ stats.version }}</span> {% endif %}
			</div>
			<div class="grey-box">
				<form class="settings">
					<input type="checkbox" id="js-fs" checked/>
					<label for="js-fs">Stretch webms <span class="hide-small hideable">to fill screen</span></label>
					<input type="checkbox" id="js-hidecontrols" />
					<label for="js-hidecontrols">Hide UI</label>
				</form>
			</div>
		</div>
		{% if user %}
		<div class="bottom-left hideable">
			<div class="grey-box hide-small">
				{% if '.' not in user %}
				<!--Hello, {{ user }}. -->
				<a href="{{ url_for('request_ban') }}" onclick="return confirm('This will literally lock you out of this website instantly, until a sysadmin removes you from the block list. Are you sure?');">🚮 Ban</a>
				{% else %}
				<form action="/settings/change-nick" method="POST">
						<label for="nick">What's your name?</label>
						<input required type="text" placeholder="{{ user }}" id="nick" name="nick" />
						<input type="submit" value="Sign in" />
					</form>
				{% endif %}
			</div>
		</div>
		{% endif %}

		{% if not direct %}
		<a class="video-link" href="{{ url_for('show_webm', name='.'.join(webm.split('.')[:1])) }}">
			<video id="js-video" autoplay loop>
				<source src="/{{ webm }}">
			</video>
		</a>
	  	{% else %}
		<span>
			<video id="js-video" autoplay controls loop>
				<source src="/{{ webm }}">
			</video>
		</span>
		{% endif %}
		{% if not domain %}
		<div class="top-left hideable">
			{% include 'moderation.html' %}
			<ul>
			{% if stats %}
				<li class="stats">
					<!--
					{% for stat in stats.counts %}
						{% if stat != 'total' and stat != 'trash' %}
					--><a title="{{ stats.counts[stat]}} {{ stat }} videos" style="width:{{ 100*(stats.counts[stat] / stats.counts.total)}}%" class="stat {{stat}}" href="{{ url_for( 'queue_' + stat ) }}"></a><!--
						{% endif %}
					{% endfor %}
					-->
					<div class="clear"></div>
				</li>
				<li class="hide-small">
					<a href="{{ url_for('about') }} ">
						{{ stats.counts[queue] }} {{ queue }} videos
					</a>
				</li>
			{% endif %}
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					{% for message in messages %}
				<li>{{ message }}</li>
					{% endfor %}
				{% endif %}
			{% endwith %}
			{% if held %}
				<li class="hide-small"> {{held}} held videos </li>
			{% endif %}
			</ul>
		</div>
		{% endif %}
		{#
		{% if history %}
		<pre class="history">{{history}}</pre>
		{% endif %}
		#}
		<a class="github" title="View source" href="https://github.com/zuzak/yakc"></a>
		{% if debug %}
		<pre class="debug">{{debug}}</pre>
		{% endif %}
	</div>
	<script>
		function addMutedIcon() {
			var prog = document.getElementById( 'js-progress' );
			var span = document.createElement( 'span' );
			span.innerHTML = '🔇 ';
			prog.parentNode.insertBefore(span, prog);
		}

		document.getElementById( "js-video" ).addEventListener( "loadeddata", function () {
			if ( typeof ( this.mozHasAudio !== "undefined" ) && this.mozHasAudio === false) {
				addMutedIcon();
				try {
					document.getElementById("js-shunt").disabled = true;
					document.getElementById("js-shunt").title = "[cannot shunt: no audio]";
				} catch ( e ) {
					if ( e instanceof TypeError ) {
						// no shunt button
					} else {
						throw e;
					}
				}
			} else if ( typeof ( this.webkitAudioDecodedByteCount !== "undefined" ) && this.webkitAudioDecodedByteCount === 0 ) {
				addMutedIcon();
				try {
					document.getElementById("js-shunt").disabled = true;
					document.getElementById("js-shunt").title = "[cannot shunt: no audio]";
				} catch ( e ) {
					if ( e instanceof TypeError ) {
						// still no shunt button
					} else {
						throw e;
					}
				}
			} else {
				// document.getElementById("js-shunt").disabled = false;
			}
		} );
	</script>
	<script>
		document.getElementById( "js-hidecontrols" ).addEventListener( "change", function () {
			localStorage.setItem('hidecontrols', document.getElementById( "js-hidecontrols" ).checked );
			hideControls(localStorage.getItem('hidecontrols'));
		} );

		function hideControls(hide) {
			if ( hide === "true" || hide === true ) {
				document.getElementById( "js-body" ).classList.add( "hidden-controls" );
				//ga('send', 'event', 'actual size toggle', 'on');
			} else {
				document.getElementById( "js-body" ).classList.remove( "hidden-controls" );
				//ga('send', 'event', 'actual size toggle', 'off');
			}
		}

		var hc = localStorage.getItem('hidecontrols');
		if ( hc === "true" ) {
			document.getElementById( 'js-hidecontrols' ).checked = true;
			hideControls(true);
		} else {
			document.getElementById( 'js-hidecontrols' ).checked = false;
			hideControls(false);
		}
	</script>
	<script>
		// Code to toggle full-screen and actual-size webms
		// The persistence when one hits a button makes it complicated :)
		document.getElementById( "js-fs" ).addEventListener( "change", function () {
			localStorage.setItem('fullscreen', document.getElementById( "js-fs" ).checked );
			changeSize(localStorage.getItem('fullscreen'));
		} );

		function changeSize(fullscreen) {
			if ( fullscreen === "true") {
				document.getElementById( "js-body" ).classList.remove( "actualsize" );
				//ga('send', 'event', 'actual size toggle', 'on');
			} else {
				document.getElementById( "js-body" ).classList.add( "actualsize" );
				//ga('send', 'event', 'actual size toggle', 'off');
			}
		}

		var fs = localStorage.getItem('fullscreen');
		if ( fs === true ) {
			document.getElementById( 'js-fs' ).checked = true;
		} else {
			document.getElementById( 'js-fs' ).checked = false;
			changeSize("false");
		}
		changeSize(fs);
	</script>
	<script>
		var progress = document.getElementById( 'js-progress' );
		var video = document.getElementById( 'js-video' );

		video.addEventListener( 'durationchange', function () {
			progress.setAttribute( 'max', video.duration );
		} );

/*
		video.addEventListener( 'loadeddata', function () {
			progress.setAttribute( 'max', video.duration );
		} );*/

		video.addEventListener( 'metadataloaded', function () {
		} );

		video.addEventListener( 'timeupdate', function () {
			progress.setAttribute( 'max', video.duration );
			progress.value = video.currentTime;
		} );
	</script>
	<script>
		// Keyboard shortcuts
		document.onkeypress = function ( e ) {
			e = e || window.event;

			var code = e.code || e.charCode;

			var letter = code.slice( -1 ).toLowerCase();
			var moderation = document.getElementById( 'moderation' );
			var inputs = moderation.children;

			for ( var i = 0; i < inputs.length; i++ ) {
				if ( inputs[i].type === 'submit' ) {
					if ( inputs[i].value.charAt( 0 ) === letter ) {
						if ( !inputs[i].disabled ) {
							inputs[i].click();
							//showHint( inputs[i].value, inputs[i].className );
							break;
						}
					}
				}
			}
		}

		var showHint = function ( value, className ) {
			var video = document.getElementById( 'js-video' );
			var div = document.createElement( 'div' );
			if ( typeof className === 'undefined' ) {
				div.className = 'hint ' + value;
			} else {
				div.className = 'hint ' + className;
			}
			div.innerHTML = value;
			video.parentElement.appendChild( div );

			// force mid-screen
			document.getElementById( "js-body" ).classList.add( "actualsize" );

			//document.getElementById( 'js-video' ).style.display = 'none';
			document.getElementById( 'js-video' ).remove();
		}

		var inputs = document.getElementById( 'moderation' ).children;
		for ( var i = 0; i < inputs.length; i++ ) {
			if ( inputs[i].type === 'submit' ) {
				inputs[i].addEventListener( 'click', function () {
					showHint( this.value, this.className );
				} );
			}
		}


	</script>
{% endblock %}
