{% extends 'skeleton.html' %}
{% block body %}
	<div class="content {{ queue }}" id="js-body">
		<div class="bottom-right">
			<div class="grey-box">
				<a class="privlink" href="{{ url_for('about') }}">Privacy & About</a>
				<a class="privlink" href="//github.com/zuzak/yakc/issues/new">Report problem</a>
				{% include'news.html' %}
				{{% if stats %} {{ stats.version }} {% endif %}
			</div>
			<div class="grey-box">
				<form class="fs-toggle">
					<input type="checkbox" id="js-fs" />
					<label for="js-fs">Stretch webms to fill screen</label>
				</form>
			</div>
		</div>
		{% if user %}
		<div class="bottom-left">
			<div class="grey-box">
				{% if '.' not in user %}
				<!--Hello, {{ user }}. -->
				(<a href="{{ url_for('request_ban') }}" onclick="return confirm('This will literally lock you out of this website instantly, until a sysadmin removes you from the block list. Are you sure?');">Ban yourself</a>)
				{% else %}
					<form action="{{ url_for('change_nick') }}" method="POST">
						<label for="nick">What's your name?</label>
						<input required type="text" placeholder="{{ user }}" id="nick" name="nick" />
						<input type="submit" value="Sign in" />
					</form>
				{% endif %}
			</div>
		</div>
		{% endif %}

		{% if not direct %}
		<a href="{{ url_for('show_webm', name='.'.join(webm.split('.')[:1])) }}">
			<video id="js-video" autoplay loop>
				<source src="/{{ webm }}">
			</video>
		</a>
	  	{% else %}
		<span>
			<video id="js-video" autoplay controls loop>
				<source src="/{{ webm }}">
			</video>
		</span>
		{% endif %}
		<div class="top-right">
			<progress id="js-progress" min="0"></progress>
		</div>
		{% if not domain %}
		<div class="top-left">
			{% include 'moderation.html' %}
			<ul>
			{% if stats %}
				<li class="stats">
					<!--
					{% for stat in stats.counts %}
						{% if stat != 'total' and stat != 'trash' %}
					--><a title="{{ stats.counts[stat]}} {{ stat }} videos" style="width:{{ 100*(stats.counts[stat] / stats.counts.total)}}%" class="stat {{stat}}" href="{{ url_for( 'queue_' + stat ) }}">&nbsp;</a><!--
						{% endif %}
					{% endfor %}
					-->
					<div class="clear"></div>
				</li>
			{% endif %}
			{% if count %}
				<li>
					<a href="{{ url_for('about') }} ">
						{{ count }} {{ queue }} videos
					</a>
				</li>
			{% endif %}
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					{% for message in messages %}
				<li>{{ message }}</li>
					{% endfor %}
				{% endif %}
			{% endwith %}
			{% if held %}
				<li> {{held}} held videos </li>
			{% endif %}
			</ul>
		</div>
		{% endif %}
		{#
		{% if history %}
		<pre class="history">{{history}}</pre>
		{% endif %}
		#}
		<a class="github" title="View source" href="https://github.com/zuzak/yakc"></a>
		{% if debug %}
		<pre class="debug">{{debug}}</pre>
		{% endif %}
	</div>
	{% if queue == 'decent' %}
	<script>
		document.getElementById( "js-video" ).addEventListener( "loadeddata", function () {
			if ( typeof ( this.mozHasAudio !== "undefined" ) && this.mozHasAudio === false) {
				document.getElementById("js-shunt").disabled = true;
				document.getElementById("js-shunt").title = "[cannot shunt: no audio]"
			} else if ( typeof ( this.webkitAudioDecodedByteCount !== "undefined" ) && this.webkitAudioDecodedByteCount === 0 ) {
				document.getElementById("js-shunt").disabled = true;
				document.getElementById("js-shunt").title = "[cannot shunt: no audio]"
			} else {
				// document.getElementById("js-shunt").disabled = false;
			}
		} );
	</script>
	{% endif %}
	<script>
		// Code to toggle full-screen and actual-size webms
		// The persistence when one hits a button makes it complicated :)
		document.getElementById( "js-fs" ).addEventListener( "change", function () {
			localStorage.setItem('fullscreen', document.getElementById( "js-fs" ).checked );
			changeSize(localStorage.getItem('fullscreen'));
		} );

		function changeSize(fullscreen) {
			console.log('b', fullscreen);
			if ( fullscreen === "false") {
				document.getElementById( "js-body" ).classList.add( "actualsize" );
				ga('send', 'event', 'actual size toggle', 'on');
			} else {
				document.getElementById( "js-body" ).classList.remove( "actualsize" );
				ga('send', 'event', 'actual size toggle', 'off');
			}
		}

		var fs = localStorage.getItem('fullscreen');
		if ( fs === 'false' ) {
			document.getElementById( 'js-fs' ).checked = false;
		} else {
			document.getElementById( 'js-fs' ).checked = true;
		}
		changeSize(fs);
	</script>
	<script>
		var progress = document.getElementById( 'js-progress' );
		var video = document.getElementById( 'js-video' );

		video.addEventListener( 'durationchange', function () {
			progress.setAttribute( 'max', video.duration );
		} );

		video.addEventListener( 'dataloaded', function () {
			progress.setAttribute( 'max', video.duration );
		} );

		video.addEventListener( 'metadataloaded', function () {
		} );

		video.addEventListener( 'timeupdate', function () {
			progress.setAttribute( 'max', video.duration );
			progress.value = video.currentTime;
		} );
	</script>
{% endblock %}
